<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultOutputDir" value=""/>
    <add key="outputFileName" value="Components"/>
    <add key="outputFileExtension" value=".txt"/>
    <add key="defaultSearchPattern" value="package.xml"/>
  </appSettings>
</configuration>